:root {
  --navbar-background-dark: black;
  --navbar-color-dark: white;
  --navbar-background-light: red; 
  --navbar-color-light: green; /* เพิ่มสีดำสำหรับธีม light */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbar-background-dark);
  color: var(--navbar-color-dark);
}
  
  .logo {
    font-size: 24px;
    margin-right: 75%;

  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .btn-light {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    justify-content: right;
  }
  .btn-lang {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 30px;
    justify-content: right;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #examples {
    margin: 20px;
  }
  
  .react-switch {
    vertical-align: middle;
    margin-left: 4px;
  }
  
  pre {
    padding: 0 10px;
    background: #eee;
  }